@bgc1: #999;
@bgc2: brown;
@bgc3: antiquewhite;
@color: white;
@border: lightgray;

body, html, h1, h2, div, p {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
}

body {
  background-color: @bgc1;
}

a {
  text-decoration: none;
}